* {
    box-sizing: border-box;
}

nav {
    width: 100%;
    font-family: Verdana, Geneva, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #0000EC;
    height: auto;
}

nav li a {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 28px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none;
    padding: .5em 1em;
    font-family: 'IBM Plex Mono', monospace;
    text-transform: uppercase;
}

nav li a:hover {
    background: tomato;
    color: white;
    text-decoration: line-through;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 44px;
}

header {
    font-family: 'IBM Plex Mono', monospace;
    padding: .5em 1em;
}

h1 {
    font-size: 36px;
}

header h1 span {
    text-decoration: line-through;
}

header h2 {
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
    font-size: 14px;
}

.bg-blue {
    padding: 10px;
    height: 600px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    transform: skew( 0deg, -10deg);
}

.bigdiv {
    display: block;
    width: 100%;
}